@font-face {
      font-family: Gentle;
      src: url(fonts/Gentle.woff2);
}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
}

/* body {
      display: flex;
      flex-direction: column;
      align-items: center;
} */

/** HEADER **/

#logo {
      width: 90px;
      height: 90px;
      cursor: pointer;
}

a {
      text-decoration: none;
}

.title {
      font-family: 'Gentle', system-ui, sans-serif;
      font-size: 36px;
      width: fit-content;
      height: fit-content;
      background: linear-gradient(321deg, 
                                rgba(226,0,250,1) 0%, 
                                rgba(229,124,4,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

nav > button {
      background: none;
      border: none;
      font-family: 'Gentle', system-ui, sans-serif;
      font-size: 18px;
      letter-spacing: 1.5px;
      padding: 8px 36px;
      cursor: pointer;
      transition: all 0.3s;
}

#burger-menu {
      width: 48px;
      height: 48px;
}

header > div > a {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
}

header > div {
      max-width: 1440px;
      padding: 12px 0;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

header {
      width: 100%;
      background-color: #e3bc9a;
}

nav > button:hover, nav > button:active {
      background: linear-gradient(321deg, 
                                rgba(226,0,250,1) 0%, 
                                rgba(229,124,4,1) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: scale(1.3);
}

/** CONTENT **/

/** A. HEADLINE **/

#donut-bg {
      width: 100%;
      height: 600px;
      object-fit: cover;
      filter: brightness(60%);
}







